*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.box{
    width: 100px;
    height: 100px;
    background: blue;
    position: relative;
    left: -100px;
/* nomi */
    animation-name: lorem;
    /* davomiyligi */
    animation-duration: 2s;
    /* kutish vaqti */
    animation-delay: 0.3s;
    /* to dagi hodisalarni saqlab qolish */
    animation-fill-mode: forwards;
    /* necha marta */
    animation-iteration-count: 3;
    /* qaytich */
    animation-direction: alternate;
    /* holati */
    animation-timing-function: linear;
}
@keyframes lorem{
    from{
        left: -100px;
    }
    to{
        left: 500px;
        background-color: rgb(26, 185, 12);
        transform: rotate(360deg);
        border-radius: 50%;
    }
}
.card{
    width: 50px;
    height: 50px;
    background: violet;
    position: relative;

    /* shord hand */
    border: 5px solid dodgerblue;
    animation: card 3s linear 0s 2;
}
@keyframes card{
    0%{
        top: 0;
        left: 0;
    }
    25%{
        top: 0;
        left: 500px;
    }
    50%{
        top: 500px;
        left: 500px;
    }
    75%{
        top: 500px;
        left: 0;
    }
    100%{
        top: 0;
        left: 0;
    }
}